name: Keep Backend Alive

on:
  schedule:
    - cron: '*/14 * * * *' # Run every 14 minutes (Render sleeps after 15m)
  workflow_dispatch: # Allow manual trigger

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render Backend
        run: curl -I https://novas-ecommerce.onrender.com/
        timeout-minutes: 1
